@model LivrariaControleEmprestimo.DATA.Models.Cliente

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes do cliente</h1>

<div>
    <h4>Confira os detalhes abaixo</h4>
    <hr />
    <div>
        <a asp-action="Edit" class="btn btn-success" asp-route-id="@Model?.Id">Alterar</a>
        <a class="btn btn-primary" asp-action="Index">Voltar</a>
    </div>
    <br />
    <div class="card">
        <div class="card-header">Informações Pessoais</div>
        <div class="card-body row">
            <div class="col-md">
                <div class="form-group col-md">
                    <label>@Html.DisplayNameFor(model => model.CliCpf)</label>
                    <input disabled class="form-control" value="@Html.DisplayNameFor(model => model.CliCpf)/>
                    <span asp-validation-for="CliCpf" class="text-danger"></span>
                </div>
                <div class="form-group col-md">
                    <label>@Html.DisplayNameFor(model => model.CliNome)</label>
                    <input disabled class="form-control" value="@Html.DisplayNameFor(model => model.CliNome)/>
                    <span asp-validation-for="ClNome" class="text-danger"></span>
                </div>
            </div>    
        </div>
        <br />
        <div class="card-header">Endereço</div>
        <div class="card-body row">
            <div class="col-md">
                <div class="form-group col-md">
                    <label>@Html.DisplayNameFor(model => model.CliCidade)</label>
                    <input disabled class="form-control" value="@Html.DisplayNameFor(model => model.CliCidade) />
                    <span asp-validation-for="CliCidade" class="text-danger"></span>
                </div>
                <div class="form-group col-md">
                    <label>@Html.DisplayNameFor(model => model.CliEndereco)</label>
                    <input disabled class="form-control" value="@Html.DisplayNameFor(model => model.CliEndereco) />
                    <span asp-validation-for="CliEndereco" class="text-danger"></span>
                </div>
                <div class="form-group col-md">
                    <label>@Html.DisplayNameFor(model => model.CliBairro)</label>
                    <input disabled class="form-control" value="@Html.DisplayNameFor(model => model.CliBairro)/>
                    <span asp-validation-for="CliBairro" class="text-danger"></span>
                </div>
                <div class="form-group col-md">
                    <label>@Html.DisplayNameFor(model => model.CliNumero)</label>
                    <input disabled class="form-control" value="@Html.DisplayNameFor(model => model.CliNumero)/>
                    <span asp-validation-for="CliNumero" class="text-danger"></span>

                </div>
            </div>
        </div>
        <br />
        <div class="card-header">Contatos</div>
        <div class="card-body row">
            <div class="col-md">
                <div class="form-group col-md">
                    <label>@Html.DisplayNameFor(model => model.CliTelefoneFixo)</label>
                    <input disabled class="form-control" value="@Html.DisplayNameFor(model => model.CliTelefoneFixo) />
                    <span asp-validation-for="CliTelefoneFixo" class="text-danger"></span>
                </div>
                <div class="form-group col-md">
                    <label>@Html.DisplayNameFor(model => model.CliTelefoneCelular)</label>
                    <input disabled class="form-control" value="@Html.DisplayNameFor(model => model.CliTelefoneCelular) />
                    <span asp-validation-for="CliTelefoneCelular" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
</div>

