@model IEnumerable<LivrariaControleEmprestimo.DATA.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}

<h1>Clientes</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Novo cliente </a>
</p>
<table id="#myTable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CliCpf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CliNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CliTelefoneCelular)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CliTelefoneFixo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CliCpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CliNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CliTelefoneCelular)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CliTelefoneFixo)
            </td>
            <td class="row col-md">
                <a asp-action="Edit" class="btn btn-success" asp-route-id="@item.Id">Alterar</a>
                <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.Id">Detalhes</a>
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts{
    <script>
        let table = new DataTable('#myTable');
    </script>
}
